.main-header {
    background-color: #2d1b0e; /* Marrón oscuro */
    padding: 1rem 2rem;
    border-bottom: 4px solid #ff8c00; /* Naranja */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fdfaf6;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff8c00;
}

#menu{
        background-color: #2d1b0e; /* Marrón oscuro */
    padding: 1rem 2rem;
    border-bottom: 4px solid #ff8c00; /* Naranja */

}